{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{{ block styles }}
<link rel="stylesheet" href="{{ static 'global/global.css' }}">
{{ endblock }}

{{ block content }}
<div class="container">
    <div class="section-header">
        <h2>Before Reading</h2>
        <p>Please answer the following questions about your prior knowledge before reading the article.</p>
    </div>

    {{ formfields }}

    <div class="submit-row">
        {{ next_button }}
    </div>
</div>
{{ endblock }}
